<f:layout name="Default" />

<f:section name="main">

	<!-- NoJS Warning! -->
	<noscript><div class="typo3-messages"><div class="typo3-message message-error">ATTENTION: JavaScript needs to be enabled!</div></div></noscript>

    <!-- Modal -->
    <div class="modal ccg-base-modal fade" tabindex="-1" role="dialog" aria-labelledby="ccg-modal-label" >
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header" style="background: #0083cb">
                    <h3 class="modal-title ccg-base-modal-title text-uppercase" style="color: white;" id="ccg-modal-label"></h3>
                </div>
                <div class="modal-body ccg-base-modal-body"></div>
                <div class="modal-footer ccg-base-modal-footer"></div>
            </div>
        </div>
    </div>

	<div class="generator-index">
		<!-- progress bar/indicator -->
        <div class="ccg-generator-progress-wrap">
            <progress value="{value.progress}" max="1" id="generator-progress-value">
                <div class="progress-bar">
                    <span><span class="generator-progress-value-print"><f:format.number decimals="0">{value.progressPercentage}</f:format.number></span>%</span>
                </div>
            </progress>
            <f:comment><div class="ccg-progress-indicator text-right" style="width:{value.progressPercentage}%"><span><span class="ccg-process-number"><f:format.number decimals="0">{value.progressPercentage}</f:format.number></span>%</span></div></f:comment>
        </div>

		<p id="generator-progress-number"><span class="generator-progress-value-print"><f:format.number decimals="0">{value.progressPercentage}</f:format.number></span><f:translate id="label.percentDone" extensionName="ecom_config_code_generator" /></p>

		<!-- part group navigation -->
		<div id="generator-part-group-select-index">
			<f:render partial="PartGroup/Selector" arguments="{partGroups: value.partGroups}" />
		</div>
		<div id="generator-part-group-select-part-index">
			<div class="configurator" id="generator-canvas-main">
				<!-- render part group information -->
				<div id="generator-part-group-info"><f:render partial="PartGroup/Info" arguments="{partGroup: value.currentPartGroup}" /></div>
				<div class="clearfix"></div>
				<!-- parse parts; return selectors -->
				<f:render partial="PartGroup/Parts" arguments="{parts: value.currentPartGroup.parts, pricingEnabled: pricingEnabled}" />
			</div>
		</div>
		<div class="clearfix">
			<p></p>
			<f:link.action action="reset" class="btn btn-default{f:if(condition: '{value.progress} <= 0', then: ' disabled')}" noCacheHash="1" id="generator-reset-configuration-button"><f:translate id="label.resetConfiguration" extensionName="ecom_config_code_generator" /> &nbsp; <i class="fa fa-undo"></i></f:link.action>
			<a data-part-group="{value.nextPartGroup}" data-current="{value.currentPartGroup.uid -> f:format.number(decimals: 0)}" class="btn btn-default{f:if(condition: '{value.currentPartGroup.active} == 0', then: ' disabled')}" id="generator-next-button"><f:translate id="label.proceed" extensionName="ecom_config_code_generator" /> &nbsp; <i class="fa fa-chevron-right"></i></a>
			<f:link.action action="index" class="btn btn-success" noCacheHash="1" id="generator-show-result-button"><f:translate id="label.showResult" extensionName="ecom_config_code_generator" /> &nbsp; <i class="fa fa-check"></i></f:link.action>
		</div>
	</div>

	<hr />

	<!-- render configuration result -->
	<div id="generator-result-canvas">
		<f:render partial="Result" arguments="{value: value, jsData: jsData, contentObject: contentObject}" />
	</div>

	<script type="text/javascript" language="JavaScript">
		var t3pid = {jsData.pageId},
			t3lang = {jsData.sysLanguage -> f:format.number(decimals: 0)},
			t3cobj = {jsData.contentObject},
			showResult = Boolean({value.showResultingConfiguration -> f:format.number(decimals: 0)}),
			js = document.createElement("script");
		$(document).ready(function() {
			js.type = "text/javascript";
			js.src = "{f:uri.resource(path:'JavaScript/app.min.js')}";
			document.body.appendChild(js);
		});
	</script>

</f:section>